/* Main overrides */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

html, body {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

/* Header styles */

h1 {
  display: inline-block;
}

header {
  background-color: #888888;
  color: white;
  height: 40px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header * {
  font-size: 16px;
}

header > * {
  position: absolute;
  top: 0;
}

header a {
  color: white;
}

header a:hover h1 {
  text-decoration: underline;
}

.header-left {
  top: 8px;
  left: 10px;
}

.header-right {
  right: 10px;
  top: 13px;
}

/* Content styles */

h3 {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.4em;
}

.hide {
  display: none !important;
}

.desc {
  margin-left: 1em;
  margin-right: 1em;
  color: #888888;
}

/* List styles */

.paper-list, .target-list {
  list-style: none;
  padding: 1em;
}

/* Button styles */

input[type=submit], button, .button {
  background-color: #888888;
  padding: 0.5em 1em;
  min-width: 10em;
  margin: 0.5em 0.5em;
  display: inline-block;
  text-align: center;
  appearance: none;
  border: 0;
  border-radius: 100em;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

input[type=submit] {
  background-color: #6DAA30;
}

button:hover, .button:hover {
  background-color: #999999;
}

input[type=submit]:hover {
  background-color: #4C8018;
}

header input[type=submit], header button, header .button {
  font-size: 1rem;
  top: 0;
  margin-top: -20px;
  background-color: #333333;
  padding: 0.25em 0.5em;
}

/* Checkbox and Path button styles */

.read .unchecked {
  display: none;
}

.unread .checked {
  display: none;
}

.toggle-read {
  cursor: pointer;
}

.read .find-shortest-path {
  display: none;
}

.find-shortest-path {
  cursor: pointer;
}

.unread, .read {
  width: 60px;
}

/* Paper Search Box style */

input.paper-search {
  font-size: 1rem;
  margin-left: 2em;
  padding: 0.5em 1em;
  width: 50%
}

input[type=checkbox].search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url('/static/img/search.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type=checkbox].search:checked {
  background-image: url('/static/img/search_checked.svg');
}

.paper-list-multiple label {
  cursor: pointer;
}

.paper-list-multiple label:hover * {
  background-color: #dddddd;
}

/* Search Graph styles */

.search-graph {
  position: absolute;
  top: 80px;
  bottom: 40px;
  left: 40px;
  right: 40px;
}
