* {
  font-family: 'Helvetica', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

h1 {
  display: inline-block;
}

header {
  background-color: #6DAA30;
  color: white;
  height: 40px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header * {
  font-size: 18px;
}

header > * {
  position: absolute;
  top: 0;
}

header a {
  color: white;
}

.header-left {
  top: 8px;
  left: 10px;
}

.header-right {
  right: 5px;
  top: 10px;
}

h3 {
  margin-left: 2em;
  margin-right: 2em;
}

.hide {
  display: none !important;
}

.scroll {
  height: 80%;
  overflow-y: scroll;
}

.paper-list, .target-list {
  list-style: none;
  padding: 1em;
}

.paper-list label, .target-list label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}

.paper-list label:hover, .target-list label:hover {
  background-color: #eee;
}

.submit-area {
  vertical-align: top;
}

input[type=submit], button {
  background-color: #6DAA30;
  padding: 0.5em 1em;
  min-width: 10em;
  margin: 0.5em 0.5em;
  display: inline-block;
  text-align: center;
  appearance: none;
  border: 0;
  border-radius: 100em;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #4C8018;
}

section.target, section.target-button {
  display: none;
}

section.target-button, section.base-button {
  position: fixed;
  top: 40px;
  right: 10px;
}

.read .unchecked {
  display: none;
}

.unread .checked {
  display: none;
}

.toggle-read {
  cursor: pointer;
}

.read .find-shortest-path {
  display: none;
}

.find-shortest-path {
  cursor: pointer;
}

.unread, .read {
  width: 60px;
}
