/* Main overrides */

* {
  font-family: 'Helvetica', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

/* Header styles */

h1 {
  display: inline-block;
}

header {
  background-color: #888888;
  color: white;
  height: 40px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header * {
  font-size: 16px;
}

header > * {
  position: absolute;
  top: 0;
}

header a {
  color: white;
}

header a:hover h1 {
  text-decoration: underline;
}

.header-left {
  top: 8px;
  left: 10px;
}

.header-right {
  right: 10px;
  top: 13px;
}

/* Content styles */

h3 {
  margin-left: 2em;
  margin-right: 2em;
}

.hide {
  display: none !important;
}

/* List styles */

.paper-list, .target-list {
  list-style: none;
  padding: 1em;
}

/* Button styles */

input[type=submit], button {
  background-color: #6DAA30;
  padding: 0.5em 1em;
  min-width: 10em;
  margin: 0.5em 0.5em;
  display: inline-block;
  text-align: center;
  appearance: none;
  border: 0;
  border-radius: 100em;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #4C8018;
}

/* Checkbox and Path button styles */

.read .unchecked {
  display: none;
}

.unread .checked {
  display: none;
}

.toggle-read {
  cursor: pointer;
}

.read .find-shortest-path {
  display: none;
}

.find-shortest-path {
  cursor: pointer;
}

.unread, .read {
  width: 60px;
}

/* Paper Search Box style */

input.paper-search {
  font-size: 1rem;
  margin-left: 2em;
}

/* Search Graph styles */

.search-graph {
  position: absolute;
  top: 80px;
  bottom: 40px;
  left: 40px;
  right: 40px;
}
