{% extends "main.html" %}
{% block content %}
<h3>Select Base Papers:</h3>
<ul class="paper-list">
  {% for paper in unread_papers %}
    <li>
      <table>
        <tr>
          <td data-paper-id="{{ paper['paper_id'] }}" data-read="0" class="unread">
            <span class="toggle-read">
              <img src="/static/img/unchecked.svg" class="unchecked"/>
              <img src="/static/img/checked.svg" class="checked"/>
            </span>
            <span class="find-shortest-path">
              <a href="/search?paper={{ paper['paper_id'] }}">
                <img src="/static/img/path.svg" class="path"/>
              </a>
            </span>
          </td>
          <td>
            <b>{{ paper['title'] }}</b>
            <br>
            {{ paper['author'] }} ({{ paper['date'] }})
          </td>
        </tr>
      </table>
    </li>
  {% endfor %}
  {% for paper in read_papers %}
    <li>
      <table>
        <tr>
          <td data-paper-id="{{ paper['paper_id'] }}" data-read="1" class="read">
            <span class="toggle-read">
              <img src="/static/img/unchecked.svg" class="unchecked"/>
              <img src="/static/img/checked.svg" class="checked"/>
            </span>
            <span class="find-shortest-path">
              <a href="/search?paper={{ paper['paper_id'] }}">
                <img src="/static/img/path.svg" class="path"/>
              </a>
            </span>
          </td>
          <td>
            <b>{{ paper['title'] }}</b>
            <br>
            {{ paper['author'] }} ({{ paper['date'] }})
          </td>
        </tr>
      </table>
    </li>
  {% endfor %}
</ul>
{% endblock %}
