<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div class="header-left"><h1>Knowledge Direct</h1></div>
      <div class="header-right">
        <a href="/oauth2callback" class="logged-out hide">Sign in with Google</a>
        <span class="logged-in hide">Logged in as <span class="user-name"></span> - <a href="/logout">Log out</a></span>
      </div>
    </header>

    <script src="/static/js/jquery-1.12.0.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
